{% extends 'mailing_service/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h3>Восстановление пароля</h3>
            <p>Кто-то запросил сброс пароля для вашего аккаунта на нашем сайте.</p>
            <p>Если это были не вы, пожалуйста, проигнорируйте это письмо.</p>
            <p>Для сброса пароля перейдите по ссылке:</p>
            <a href="{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}"
               class="btn btn-mint">
                Сбросить пароль
            </a>
            <p class="mt-3">Ссылка действительна в течение 24 часов.</p>
        </div>
    </div>
</div>
{% endblock %}