{% extends 'mailing_service/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Сброс пароля</h2>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                    {% if form.email.errors %}
                        <div class="alert alert-danger mt-2">
                            {{ form.email.errors }}
                        </div>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-mint mt-3">Отправить ссылку</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}