{% extends 'mailing_service/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Письмо отправлено</h2>
            <p>Мы отправили вам инструкции по сбросу пароля на указанный email.</p>
            <p>Если вы не получили письмо, проверьте папку "Спам" или убедитесь, что ввели правильный адрес.</p>
            <a href="{% url 'users:password_reset' %}" class="btn btn-secondary">Попробовать снова</a>
        </div>
    </div>
</div>
{% endblock %}