{% extends 'mailing_service/message_list.html' %}
{% load my_tags %}

{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">

                    <div class="card-body">
                        <p class="card-text">Первая отправка: {{ mailing.first_shipment }}</p>
                        <p class="card-text">Окончательная отправка: {{ mailing.end_shipment }}</p>
                        <p class="card-text">Статус рассылки: {{ mailing.status }}</p>
                        <p class="card-text">Сообщение: {{ mailing.message }}</p>
                        <p class="card-text">Получатели: {{ mailing.recipients }} </p>

                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-primary" href="{% url 'mailing_service:mailing_list' %}"
                                   role="button">Назад</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}